# Copy to .env and edit values as needed
# Airflow will load env vars at runtime if exported in your shell
PG_HOST=localhost
PG_PORT=5432
PG_DB=airflow_db
PG_USER=postgres
PG_PASSWORD=postgres

# Where to download/unzip Kaggle dataset
DATA_DIR=/tmp/netflix_data
